<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>CarouselView.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>795990461D883C02006CC4AD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7959905F1D883C02006CC4AD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7959906A1D883C02006CC4AD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
